@import url('https://fonts.googleapis.com/css2?family=Parkinsans');


body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #7A5643;
  color: #E9DBC8;
  font-family: "Parkinsans", sans-serif;
  text-align: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

button {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  background-color: #E9DBC8;
  border: black solid 2px;
}

.img-resize {
  height: 500px;
}

.error-text {
  color: white;
  font-size: 2rem;
}
